{% extends "base.html" %}
{% block content %}
<div class="auth-container">
    <div class="auth-box glass-panel">
        <h2>Bem-vindo de volta</h2>
        <form method="POST" action="">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" class="form-control" required
                    placeholder="seunome@email.com">
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" class="form-control" required
                    placeholder="••••••••">
            </div>

            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        <div class="auth-footer">
            Ainda não tem conta? <a href="{{ url_for('main.register') }}">Cadastre-se</a>
        </div>
    </div>
</div>
{% endblock %}